body {
    display: flex;
}

.nav {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: 25%;
}

.nav-link {
    color: royalblue;
}

.nav-link:hover {
    background-color: gray;
}

h2 {
    margin: 2.5rem 0 2.5rem 0;
}

.texte {
    width: 75%;
}

.bloc {
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
}